{% extends '@layouts/base.twig' %}
{% set scope = {
    slides: [
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Проектируем<br> и строим загородные дома',
            text: 'Строим дома «под ключ»: от этапа проектирования и до финишной отделки помещений.',
        },
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Integer condimentum eget massa eget ornare',
            text: 'Donec vehicula imperdiet tortor, ut fringilla lectus tempus et.',
        },
        {
            desktopImage: 'assets/images/mockup/slides/slide-desktop.png',
            mobileImage: 'assets/images/mockup/slides/slide-mobile.png',
            title: 'Cras molestie sem sit amet turpis sodales sodales',
            text: 'Nunc lacinia, dui vel condimentum fringilla, nunc nisl dignissim mauris, et dapibus ante nunc eu nunc.',
        },
    ],
    featuredSection: {
        title: 'Каждый проект<br> для нас — важный',
        text: 'Мы строительная компания полного цикла <br><br>Вникаем во все детали, разрабатываем планировку будущего дома, придумываем конструктивные решения и общую архитектурную концепцию.',
        items: [
            {
                icon: 'assets/icons/house-green.svg',
                title: '57 домов',
                text: 'спроектировали и построили под ключ',
            },
            {
                icon: 'assets/icons/calendar-green.svg',
                title: '14 лет',
                text: 'мы на рынке загородного строительства',
            },
        ]
    },
} %}


{% block main %}
    <div class="Container Main">
        <div class="Layout__section Layout__section--slider">
            {% include "@components/slider/slider.twig" with {
                items: scope.slides,
                leftArrowSwiper: scope.leftArrowSwiper,
                rightArrowSwiper: scope.rightArrowSwiper,
            } %}
        </div>
        <div class="Layout__section Layout__section--featured">
            {% include "@components/featured-section/featured-section.twig" with {
                title: scope.featuredSection.title,
                text: scope.featuredSection.text,
                items: scope.featuredSection.items,
            } %}
        </div>
    </div>
{% endblock %}