{% extends '@layouts/base.twig' %}


{% block main %}
    <div class="Container Main">
        <h1 class="hello-world">Hello World</h1>
        <span class="lorem">Lorem ipsum</span>
    </div>
{% endblock %}