$button-background-color: #029F59;

.Container {
    @extend .uk-container;
}

.Button {
    @extend .uk-button;

    &--primary {
        @extend .uk-button-primary;
        height: 49px;
        width: 204px;
        background-color: $button-background-color;
        border-radius: 10px;
        font-family: $base-heading-font-family;
    }

    &--secondary {
        @extend .uk-button-secondary;
    }

    &--icon {
        padding-left: 16px;
        padding-right: 16px;
        width: 60px;
    }
}