$background-header: #FFFFFF;
$background-footer: #254741;

.Layout {
    display: flex;
    flex-direction: column;
    min-height: 95vh;

    &__main {
        flex: 1;
    }

    &__header {
        background-color: $background-header;
    }

    &__footer {
        background-color: $background-footer;
    }
}

.Container {
    @extend .uk-container;
}